body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333333;
    text-align: center;
  }
  
  input[type="number"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333333;
    resize: none; /* This will prevent the user from resizing the textarea */
  }
  
  #result:focus {
    outline: none; /* This will remove the blue outline when the input field is selected */
  }
  
  /* Add some spacing around the form for larger screens */
  @media (min-width: 600px) {
    form {
      width: 500px;
      padding: 40px;
    }
  }